{% extends 'layout.html.twig' %}

{% block content %}
    <header class="row col-sm-12">
        <div>
            <img id="logo" src="images/LOGOreportmeWHITE.png">
        </div>
        <div class="page-header">
            <h1>Glossaire</h1>
        </div>
        <div>
            <div class="btn-group dropdown">
                <button type="button" class="user btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{ user_name }}
                </button>
                <div class="dropdown-menu">
                    {% if userSession.levelAccess !=0 %}
                        <a class="dropdown-item" href="admin.php?action=manageAccess">
                            Gérer les accès
                        </a>
                    {% endif %}
                    <a class="dropdown-item" href="admin.php?action=globalreport">
                        Tableau de bord
                    </a>
                    <a class="dropdown-item" href="admin.php?action=profile">
                        Profil
                    </a>
                    <a class="dropdown-item" href="admin.php?action=glossary">
                        Glossaire
                    </a>
                    <a class="dropdown-item" href="admin.php?action=logout">
                        <i class="fas fa-power-off"></i> Déconnexion
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <form action="admin.php?action=searchWord" method="POST">
            Rechercher un mot : <input type="text" name="word">
            <input type="SUBMIT" id="searchWord" name="searchWord" value="Chercher">
        </form>

        <div class="d-flex justify-content-center row col-sm-12">
            {% for letter in alphabet %}
                {% if letter in allLetters %}
                    <a href="admin.php?action=glossary&amp;letter={{ letter }}" class="linksPage">{{ letter }}
                    </a>
                {% else %}
                    <a class="linksPage">{{ letter }}</a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center row col-sm-12">
            <div>
                {% for page in 1..totalpage %}
                    <a href="admin.php?action=glossary&amp;page={{ page }}&amp;letter={{ currentLetter }}"
                       class="linksPage">{{ page }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="glossary">
            {% if results %}
                {% for entries in results %}
                    <p class="entries">{{ entries.word }}</p>
                    <p class="definition">{{ entries.definition }}</p>
                {% endfor %}
            {% endif %}
            {% for entries in DBData %}
                {#        {% if entries.first_letter == page %}#}
                <p class="entries">{{ entries.word }}</p>
                <p class="definition">{{ entries.definition }}</p>
                <hr>
                {#        {% endif %}#}
            {% endfor %}
        </div>
    </div>

{% endblock %}